.overlay {
	font: inherit;
	position: fixed;
	top: 25%;
	left: 5%;
	width: 60%;
	background-color: rgb(15, 76, 117);
	padding: 1rem;
	border-radius: 0.4rem;
	/* box-shadow: 0 1rem 4rem rgba(187, 225, 250, 0.644); */
	text-align: center;
	display: none;
}

#backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

@media (min-width: 48rem) {
	.overlay {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
